<!DOCTYPE html>
<html lang="id">
  <head>
    <title>Home - Manajemen Tugas</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Selamat Datang di Manajemen Tugas Mahasiswa</h1>
    <p>Kelola tugas akademikmu dengan mudah.</p>

    <%- include('partials/footer') %>
  </body>
</html>
